@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
.none {
  display: none;
}

.header {
  position: relative;
  margin-top: 54px;
}
.header .header--img {
  position: absolute;
  top: -54px;
  right: 0;
  width: 705px;
  height: 826px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.header__logo__img {
  height: 20px;
  width: 20px;
}
.header__logo__text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
.header__nav ul a {
  font-weight: 400;
  font-size: 15px;
  color: #000;
}
.header__nav ul a:hover {
  -webkit-transition: ease-in 0.1s all;
  -o-transition: ease-in 0.1s all;
  transition: ease-in 0.1s all;
  color: #6E9C9F;
}

.header--contacts {
  position: relative;
}
.header--contacts__img {
  position: absolute;
  top: 0;
  left: -21px;
}
.header--contacts__link {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.header__cart {
  z-index: 99;
}

.header--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.header--info__text h1 {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 45px;
}
.header--info__text p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 52px;
}

.header--info__buttons {
  position: relative;
}

.header--info__buttons__vector img {
  padding: 19px 26px;
  background: rgba(110, 156, 159, 0.1);
}
.header--info__buttons__vector:hover {
  background: rgba(97, 135, 138, 0.1);
  -webkit-transition: ease 0.2s all;
  -o-transition: ease 0.2s all;
  transition: ease 0.2s all;
}

.header--info__buttons__page {
  position: absolute;
  top: 2px;
  left: 69px;
  padding: 22px 50px;
  background: #6E9C9F;
  color: #fff;
  cursor: pointer;
}
.header--info__buttons__page:hover {
  background: #527c80;
  -webkit-transition: ease 0.2s all;
  -o-transition: ease 0.2s all;
  transition: ease 0.2s all;
}

.header--info__img {
  position: relative;
}
.header--info__img__image {
  -webkit-transform: translate(60px, -25px);
      -ms-transform: translate(60px, -25px);
          transform: translate(60px, -25px);
}
.header--info__img__image2 {
  position: relative;
  z-index: 999;
  -webkit-transform: translate(130px, 28px);
      -ms-transform: translate(130px, 28px);
          transform: translate(130px, 28px);
}
.header--info__img__image3 {
  z-index: 999;
  -webkit-transform: translate(-30px, 105px);
      -ms-transform: translate(-30px, 105px);
          transform: translate(-30px, 105px);
  position: absolute;
}

.clothing--collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 130px;
}
.clothing--collection h2 {
  font-size: 40;
  font-weight: 500;
  margin-bottom: 60px;
}

.clothing--collection__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.clothing--collection__item p {
  font-size: 20px;
  font-weight: 500;
}
.clothing--collection__item p:hover span {
  cursor: pointer;
  opacity: 0.6;
}

.clothing--collection__image {
  margin-bottom: 20px;
  cursor: pointer;
}
.clothing--collection__image:hover {
  -webkit-transition: ease 0.2s all;
  -o-transition: ease 0.2s all;
  transition: ease 0.2s all;
  opacity: 0.6;
}

.clothing--collection__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-right: 100px;
}
.clothing--collection__button button {
  border: 2px solid #6E9C9F;
  padding: 22px 45px;
  color: #6E9C9F;
  cursor: pointer;
}
.clothing--collection__button button:hover {
  border: 2px solid #3c5f63;
  color: #3c5f63;
  -webkit-transition: ease 0.2s all;
  -o-transition: ease 0.2s all;
  transition: ease 0.2s all;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}