.about--advantage {
    h2 {
        margin-bottom: 90px;
        font-size: 40px;
        font-weight: 500;
    }
}

.about--advantage__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;

    &__text {
        img {
            margin-bottom: 33px;
        }

        h3 {
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 25px;
            align-items: center;
        }

        p {
            font-weight: 500;
            font-size: 17px;
            width: 293px;
            height: 115px;
        }
    }
}

.about--team {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    margin-bottom: 95px;

    &__text {
        h3 {
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        p {
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        a {
            font-weight: 500;
            font-size: 17px;
            color: #6E9C9F;

            &:hover {
                color: #3e585a;
                transition: ease 0.2s all;
            }
        }
    }
}
